html {
    margin: 0;
    padding: 0;
    background-color: rgb(110, 133, 183); /* Set the background color for the entire body */
}

header {
    margin: 0;
    padding: 0;
    background-color: rgb(110, 133, 183);
}

.navbar-title {
    font-size: 36px;
    color: rgb(248, 249, 215);
    text-decoration: none;
}

.navbar-content {
    color: rgb(0, 22, 70);
    text-decoration: none;
    background-color: rgb(248, 249, 240);

}

.navbar {
    background-color: rgb(0, 22, 70);

}

.nav-item {
    font-size: 20px;
    padding: 10px 20px;
}

.nav-link {
    margin: 0 8px;
    transition: background-color 0.3s, color 0.3s; /* Add smooth transition */
}

.nav-link:hover {
    background-color: rgb(110, 133, 183); /* Change to your desired hover background color */
    color: white; /* Change to your desired hover text color */
}

.activate-bro {
    background-color: rgb(110, 133, 183); /* Red background color */
    color: #ffffff; /* White text color */
}

.section-1 {
    background-color: rgb(248, 249, 240);
    color: rgb(110, 133, 183);
    padding-bottom: 50px;
    padding-top: 25px;
}

.section-2 {
    background-color: rgb(110, 133, 183);
    color: rgb(248, 249, 240);
    padding-bottom: 50px;
    padding-top: 25px;
}

.par {
    padding-bottom: 10px;
    padding-top: 10px;
}


.par-fa-li {
    padding-bottom: 10px;
    padding-top: 10px;
    font-size: 1.75em;
}

.tit {
    padding-bottom: 10px;
    padding-top: 15px;
}

.text-cv {
    font-size: 1.25em;
    text-align: justify;
}
/*
 * Always set the map height explicitly to define the size of the div element
 * that contains the map.
 */
#map {
    height: 100%;
}
  
/*
* Optional: Makes the sample page fill the window.
*/
html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.white-background-link {
    background-color: white;
    padding: 5px 10px; /* Optional: Add padding to create space around the link */
    display: inline-block; /* Ensures the background covers the entire link */
    border-radius: 5px; /* Adjust the value to control the roundness of the corners */
    color:rgb(110, 133, 183);
    text-decoration: underline;
}

.blue-background {
    background-color: rgb(0, 22, 70);
    padding: 5px 10px; /* Optional: Add padding to create space around the link */
    display: inline-block; /* Ensures the background covers the entire link */
    border-radius: 5px; /* Adjust the value to control the roundness of the corners */
    color:rgb(255, 255, 255);
}

.card {
    margin-top: 10px;
}

.card-button {
    display: block;
    margin-bottom: 10px;
    color: white; /* Custom text color */
    text-align: center; /* Center the text */
    padding: 10px 15px; /* Padding for the button */
    border: none; /* Remove default border */
    border-radius: 4px; /* Optional: Add border radius for rounded corners */
    text-decoration: none; /* Remove underline from links */
    background-color: rgb(110, 133, 183);
}

.card-button:hover {
    background-color: rgb(0, 22, 70); /* Darker shade on hover */
    color: white;
}

.orientation-element {
    display: none; /* Hide all elements by default */
}

@media screen and (orientation: portrait) {
    .navbar-title {
        font-size: 18px;
    }

    .nav-item {
        font-size: 10px;
        padding: 5px 5px;
    }

    .nav-link {
        margin: 0 2px;
        transition: background-color 0.3s, color 0.3s; /* Add smooth transition */
    }

    .start-par {
        font-size: 1.25em;
    }
    .par {
        font-size: 1.25em;
        text-align: left;
    }

    .text-cv {
        text-align: left;
    }

    .par-fa-li {
        font-size: 1.25em;
    }
}
